[submodule "Client"]
	path = Client
	url = https://github.com/nsstanev/Client.git
[submodule "Hardcore"]
	path = Hardcore
	url = https://github.com/nsstanev/Hardcore.git
[submodule "client"]
	branch = master
[submodule "hardcore"]
	branch = master
